<div class="col-full">

    <div class="woocommerce"></div>
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">


            <article id="post-337"
                     class="post-337 post type-post status-publish format-standard hentry category-tai-khoan">
                <div class="entry-content">
                    <h2 class="para-h">Tuyên bố về Quyền riêng tư của Nhà X</h2>
                    <div class="para">
                        <div class="para-sub">
                            <p>Tuyên bố về Quyền riêng tư này có thể được thay đổi theo thời gian. Người dùng Trang web
                                nên thường xuyên xem lại Tuyên bố về Quyền riêng tư để biết những thay đổi có thể có.
                                Tuyên bố về Quyền riêng tư này đã được thay đổi lần cuối
                                vào&nbsp;<strong>20/07/2020.</strong></p>
                            <p>Tuyên bố về Quyền riêng tư này có thể được lưu trữ hoặc in ra bằng cách sử dụng các nút
                                phía trên trang này.</p>
                        </div>
                    </div>
                    <h2 class="para-h"></h2>
                    <div class="para focus-outline">
                        <div class="para-sub focus-outline">
                            <h3>Tuyên bố về Quyền riêng tư này được áp dụng khi nào?</h3>
                            <p>Tuyên bố về Quyền riêng tư này được áp dụng để xử lý các dữ liệu cá nhân của người dùng
                                thông qua Trang web này và Ứng dụng Nhà X qua Facebook Api</p>
                            <h3>Chúng tôi xử lý dữ liệu cá nhân của bạn nhằm mục đích gì?</h3>
                            <p>Chúng tôi sử dụng dữ liệu cá nhân của bạn cho một số mục đích khác nhau. Bạn sẽ thấy nội
                                dung tổng quan về các loại dữ liệu cá nhân và các mục đích sử dụng dưới đây.</p>
                            <ul>
                                <li><strong>Để cung cấp Trang web hoặc ứng dụng cho bạn và quản lý kỹ thuật và chức năng
                                    của Trang web khi bạn sử dụng Trang web hoặc Ứng dụng của chúng tôi.</strong><br>
                                    Chúng tôi xử lý các dữ liệu kỹ thuật như địa chỉ IP của bạn, trình duyệt internet
                                    bạn sử dụng, các trang web đã truy cập, các trang web đã truy cập trước đó/tiếp theo
                                    và thời gian truy cập nhằm mục đích cung cấp các chức năng của Trang web để cho phép
                                    tìm kiếm thông tin nhanh chóng và đơn giản. Những dữ liệu này cũng được sử dụng để
                                    giải quyết các khó khăn về kỹ thuật hoặc để cải thiện khả năng truy cập đến một số
                                    phần của trang web. Để đạt được mục đích này, chúng tôi cũng sử dụng các cookie.
                                </li>
                                <li><strong>Để quản lý tài khoản và đảm bảo tính bảo mật và an ninh của việc mua hàng
                                    khi bạn mở một tài khoản Nhà X với chúng tôi.</strong></li>
                            </ul>
                            <h3>Cách xử lý các liên kết đến các trang web khác và phương tiện truyền thông xã hội?</h3>
                            <h5>Các trang web bên ngoài</h5>
                            <p>Trên Trang web, bạn sẽ tìm thấy một số liên kết đến các trang web khác. Mặc dù các trang
                                web này được lựa chọn cẩn thận, chúng tôi không chịu trách nhiệm về việc xử lý các dữ
                                liệu cá nhân của bạn thông qua các trang web này. Điều khoản và [Điều kiện] (/vi/legal)
                                cũng như Tuyên bố về Quyền riêng tư của chúng tôi sẽ không áp dụng đối với việc sử dụng
                                các trang web này.</p>
                        </div>
                    </div>
                </div>
            </article><!-- #post-## -->

        </main><!-- #main -->
    </div><!-- #primary -->
</div>
