<h1>
    Danh sách
</h1>
<div class="Block">
<input type='file' (change)="fileChanged($event)">
</div>
<button type="button" class="k-button" (click)="excelexport.save()">Export To Excel</button>
<kendo-excelexport [data]="dataExport" fileName="Products.xlsx" #excelexport>
    <kendo-excelexport-column field="content" [locked]="true" title="Nội dung" [width]="200" [cellOptions]="{ wrap: true }">
    </kendo-excelexport-column>
    <kendo-excelexport-column field="url" title="Link bài viết" [width]="350">
    </kendo-excelexport-column>
    <kendo-excelexport-column field="costsView" title="Giá" [width]="350">
    </kendo-excelexport-column>
    <kendo-excelexport-column field="postTimeView" title="Ngày đăng" [width]="350" [cellOptions]="{ format: 'HH:mm dd/MM/yyyy' }">
    </kendo-excelexport-column>
    <kendo-excelexport-column field="commentCount" title="Số comment" [width]="350">
    </kendo-excelexport-column>
</kendo-excelexport>
<div (click)="deleteFile()">xoa file</div>
<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [resizable]="true"
            [pageable]="true"
            style="height: 100%"
            (pageChange)="pageChange($event)">
    <kendo-grid-column title="STT" width="40">
        <ng-template kendoGridCellTemplate let-dataItem, let-rowIndex="rowIndex">
            <div>{{rowIndex}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="content" title="Nội dung" width="400">
    </kendo-grid-column>
    <kendo-grid-column field="url" title="Link bài viết" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="contentTypes" title="Loại" width="50">
    </kendo-grid-column>
    <kendo-grid-column title="Giá" width="50">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.costs.join('-')}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Thời gian bài đăng" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.postTime | date: 'HH:mm dd/MM/yyyy'}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="commentCount" title="Số comment" width="80">
    </kendo-grid-column>
</kendo-grid>
