<div class="float-right mt-2">
<!--    <button class="btn btn-sm btn-primary m-auto" (click)="getFeed()">Check token</button>-->
<!--    <button class="btn btn-sm btn-primary m-auto" (click)="callFb()">Cài đặt nội dung comment</button>-->
<!--    <button class="btn btn-sm btn-primary m-auto" (click)="postComment()">Post comment</button>-->
<!--    <button class="btn btn-sm btn-primary m-auto" (click)="postContent()">Post content</button>-->
</div>
<div class="row">
    <div class="col-md-3">
        <div class="Block" *ngIf="authService.isSuperAdmin()">
            <input [title]="'Chọn file public'" type='file' (change)="fileChanged($event)" onclick="this.value = null">
            <input [title]="'Chọn file private'" type='file' (change)="fileChangedMultiple($event)" onclick="this.value = null">
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-success" (click)="excelexport.save()">Export To Excel</button>
            <button *ngIf="authService.isSuperAdmin()"  type="button" class="btn btn-sm btn-warning"
                    (click)="saveToDB()">Save to DB</button>
        </div>
        <kendo-excelexport [data]="dataExport" fileName="Products.xlsx" #excelexport>
            <kendo-excelexport-column field="content" [locked]="true" title="Nội dung" [width]="200" [cellOptions]="{ wrap: true }">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="url" title="Link bài viết" [width]="350">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="costsView" title="Giá" [width]="350">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="postTimeView" title="Ngày đăng" [width]="350" [cellOptions]="{ format: 'HH:mm dd/MM/yyyy' }">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="commentCount" title="Số comment" [width]="350">
            </kendo-excelexport-column>
            <kendo-grid-column field="id" title="Id" width="10">
            </kendo-grid-column>
        </kendo-excelexport>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div>
            <label><b>Thời gian:</b></label>
            <div>
                <input class="k-radio" type="radio" name="type" id="female" (change)="changeViewType('all')" [(ngModel)]="model.typeDate" value="all">
                <label class="k-radio-label text-success font-weight-bold" for="female">Tất cả</label>

                <input class="k-radio" type="radio" name="type" id="male" (change)="changeViewType('spec')" [(ngModel)]="model.typeDate" value="spec">
                <label class="k-radio-label text-info font-weight-bold" for="male">Chọn ngày</label>
                <div [hidden]="model.typeDate === 'all'">
                    <div class="mb-10">
                        <label style="width: 30px">Từ</label>
                        <input kvKendoDateTimePicker
                               [kvOptions]="dateOptions"
                               [placeholder]="'Từ'"
                               (kvModelChange)="onDateChange($event, true)"
                               [(kvModel)]="model.from"
                               style="width: 200px"
                        />
                    </div>
                    <div class="mb-10">
                        <label style="width: 30px">Đến</label>
                        <input kvKendoDateTimePicker
                               [kvOptions]="dateOptions"
                               [placeholder]="'Đến'"
                               (kvModelChange)="onDateChange($event, false)"
                               [(kvModel)]="model.to"
                               style="width: 200px"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label><b>Nội dung:</b></label>
            <input type="text" [(ngModel)]="model.searchText" (ngModelChange)="updateFilter()" [placeholder]="'ví dụ: đống đa'">
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <label><b>Giá:</b></label>
            <input class="k-radio" type="radio" name="price" id="priceF" (change)="changeViewPriceType('all')" [(ngModel)]="model.typePrice" value="all">
            <label class="k-radio-label text-success font-weight-bold" for="priceF">Tất cả</label>

            <input class="k-radio" type="radio" name="price" id="priceT" (change)="changeViewPriceType('spec')" [(ngModel)]="model.typePrice" value="spec">
            <label class="k-radio-label text-info font-weight-bold" for="priceT">Khoảng giá</label>
            <div [hidden]="model.typePrice === 'all'">
                <div class="mb-10">
                    <label style="width: 30px">Từ</label>
                    <kendo-dropdownlist [data]="listItemsPrice" [(ngModel)]="model.priceFrom" [valuePrimitive]="true"
                                        (valueChange)="onPriceChange($event)" [textField]="'value'" [valueField]="'id'">
                    </kendo-dropdownlist>
                </div>
                <div class="mb-10">
                    <label style="width: 30px">Đến</label>
                    <kendo-dropdownlist [data]="listItemsPrice" [(ngModel)]="model.priceTo" [valuePrimitive]="true"
                                        (valueChange)="onPriceChange($event)" [textField]="'value'" [valueField]="'id'">
                    </kendo-dropdownlist>
                </div>
            </div>
        </div>
        <div>
            <label><b>Loại:</b></label>
            <kendo-multiselect [data]="listItems" [(ngModel)]="model.bdsType" [textField]="'value'" [valueField]="'key'" (valueChange)="onBdsTypeChange($event)"></kendo-multiselect>
        </div>
    </div>
</div>

<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [resizable]="true"
            [pageable]="true"
            style="height: 100%"
            (pageChange)="pageChange($event)">
    <kendo-grid-column title="STT" width="40">
        <ng-template kendoGridCellTemplate let-dataItem, let-rowIndex="rowIndex">
            <div>{{rowIndex}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="content" title="Nội dung" width="400">
    </kendo-grid-column>
    <kendo-grid-column field="url" title="Link bài viết" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="contentTypes" title="Loại" width="50">
    </kendo-grid-column>
    <kendo-grid-column title="Giá" width="50">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.costs ? dataItem.costs.join('-') : '-'}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Thời gian bài đăng" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.postTime | date: 'HH:mm dd/MM/yyyy'}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="commentCount" title="Số comment" width="70">
    </kendo-grid-column>
    <kendo-grid-column field="id" title="Id" width="50">
    </kendo-grid-column>
</kendo-grid>
