<div>
    <div class="pl-3">
        <div>
            <label class="w-25">Tên:</label>
            <input [(ngModel)]="customer.name">
        </div>
        <div>
            <label class="w-25">Số điện thoại:</label>
            <input [(ngModel)]="customer.phone">
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-success" (click)="onSave()">Save</button>
        <button class="btn btn-sm btn-dark" (click)="onCancel()">Cancel</button>
    </div>
</div>
