<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nhà X</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#fb" [routerLink]="['/fb']" [routerLinkActive]="['active']">BĐS
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="auth.isSuperAdmin()">
                <a class="nav-link" [routerLink]="['/token']" [routerLinkActive]="['active']">Quản lý tokens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/term']" [routerLinkActive]="['active']">Điều khoản dịch vụ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/policy']" [routerLinkActive]="['active']">Chính sách quyền riêng tư</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="auth.isAuthenticated()">
            <li class="nav-item ">
                <button type="button" class="btn btn-primary" (click)="submitLogin();">Login with facebook</button>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="" (click)="logout($event)">Log out</a>
            </li>
        </ul>

    </div>
</nav>
