<div class="_5tkp">
    <div class="_17ky _52ij _52id">
        <div class="_1rf2"><h2 class="_353a _52ip _52id">Điều khoản dịch vụ</h2><br><br> Chào mừng bạn đến với Nhà X!
            <br><br> Nhà X tạo ra các công nghệ và dịch vụ nhằm hỗ trợ mọi người kết nối với nhau, xây dựng cộng đồng
            và phát triển doanh nghiệp. Các Điều khoản này điều chỉnh việc bạn sử dụng Nhà X, các sản
            phẩm, tính năng, ứng dụng, dịch vụ, công nghệ cũng như phần mềm khác mà chúng tôi cung cấp (<a
                href="https://play.google.com/store/apps/details?id=com.sonnv.nhax&hl=vi">Sản phẩm của Nhà X</a>),
            trừ khi chúng tôi nêu rõ là
            áp dụng các điều khoản riêng (và không áp dụng các điều khoản này). Các sản phẩm này do Nhà X, Inc. cung
            cấp cho bạn. <br><br> Bạn không mất phí sử dụng Nhà X hay các sản phẩm và dịch vụ khác thuộc phạm vi Điều
            khoản này. Chúng tôi sử dụng tài khoản của bạn để giúp bạn tìm kiếm, bán hàng, cho thuê nhà, tìm nhà một cách hiệu quả
            <br><br> Chúng tôi không bán dữ liệu cá nhân của bạn
            cho các nhà quảng cáo và cũng không chia sẻ thông tin trực tiếp nhận dạng bạn (chẳng hạn như tên, địa chỉ
            email hoặc thông tin liên hệ khác) với những đơn vị này trừ khi được bạn cho phép cụ thể.
            <br><br><a href="https://fb-scan.herokuapp.com/#/policy">Chính sách quyền riêng tư</a> của chúng tôi giải thích cách chúng tôi thu thập và sử dụng dữ liệu cá nhân của bạn để quyết
            định hiển thị cho bạn quảng cáo nào cũng như để cung cấp tất cả các dịch vụ khác được mô tả bên dưới.
        </div>
    </div>
    <div class="_3x93 _1-qq _52ii" id="u_0_2">
        <div class="_t3o" id="u_0_3"><a href="#" role="button">
            <div class="_17l6 _1-xl _17la"></div>
            <div class="_t3q">Quay lại đầu trang</div>
        </a></div>
        <h3 class="_3x94 _52io"> 1. Dịch vụ chúng tôi cung cấp </h3> Sứ mệnh của chúng tôi là đem đến cho mọi người khả
        năng xây dựng cộng đồng và đưa thế giới đến gần nhau hơn. Nhằm thúc đẩy sứ mệnh này, chúng tôi cung cấp các Sản
        phẩm và dịch vụ được mô tả dưới đây cho bạn:
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_4">Mang lại khả năng phát triển, thịnh vượng, tiện ích cho khách hàng:</div>
                Chúng tôi sử dụng những công cụ mà Facebook cho phép để có thể hỗ trợ bạn tìm kiếm nhà - một công việc thật
                đau đầu và nhọc công thì giờ đây bạn có thể được hỗ trợ rất nhiều, mang đến nhiều hơn nhưng sự lựa chọn,
                qua đó gián tiếp tạo lên sự canh tranh, giúp cho xã hội ngày càng phát triển đi lên.
                Với ứng dụng tìm kiếm Nhà X bạn có thể tìm nhà trong hệ thống của chúng tôi một cách dễ dàng mà không hề mất
                bất cứ một khoản phí nào
            </div>
        </div>
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_5">Cho phép chủ nhà tìm kiếm các khách hàng tiềm năng:</div>
                Chúng tôi kết nối các chủ nhà với những khác hàng tiềm năng những người tìm kiếm phòng trong các khu vực
                mà chủ nhà có nhà. Với những dịch vụ tuyệt vời của Facebook mà Api cung cấp chúng tôi tìm kiếm các thông tin
                 một cách phù hợp. Không những giúp chủ nhà mà còn lài giúp khách hàng tìm được các căn nhà mong muốn một
                cách hoàn toàn Miễn Phí.
            </div>
        </div>
    </div>
    <div class="_3x93 _1-qr _52ii" id="u_0_d">
        <h3 class="_3x94 _52io"> 2. Cách chúng tôi duy trì dịch vụ của mình </h3>
        Bằng cách cho thuê được những căn hộ chúng tôi có thu nhập cho mình từ đó duy trì dịch vụ của mình, qua đó chúng tôi
        cũng muốn mang đến nhiều hơn nữa giá trị cho cộng đồng.
    </div>
    <div class="_3x93 _1-qt _52ii" id="u_0_f">
        <div class="_t3o" id="u_0_g"><a href="#" role="button">
            <div class="_17l6 _1-xl _17la"></div>
            <div class="_t3q">Quay lại đầu trang</div>
        </a></div>
        <h3 class="_3x94 _52io"> 3. Cam kết của bạn với Nhà X và cộng đồng của chúng tôi </h3> Chúng tôi cung cấp các
        dịch vụ này cho bạn và người khác nhằm thúc đẩy sứ mệnh của mình. Để đổi lại, chúng tôi cần bạn thực hiện các
        cam kết sau:
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_h">1. Những đối tượng có thể sử dụng Nhà X</div>
                Khi đích danh mọi người nêu ý kiến và hành động, cộng đồng của chúng ta sẽ trở nên an toàn và có trách
                nhiệm hơn. Vì lý do đó, bạn phải:
                <ul class="uiList _4of _4kg"
                    style="list-style: disc; color: black; display: block; -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; -webkit-padding-start: 40px;">
                    <li>
                        <div class="fcb">Sử dụng chính tên được bạn dùng trong cuộc sống hàng ngày.</div>
                    </li>
                    <li>
                        <div class="fcb">Cung cấp thông tin chính xác về bản thân.</div>
                    </li>
                    <li>
                        <div class="fcb">Chỉ tạo một tài khoản (của riêng bạn) và sử dụng dòng thời gian cho mục đích cá
                            nhân.
                        </div>
                    </li>
                    <li>
                        <div class="fcb">Không chia sẻ mật khẩu, cấp cho người khác quyền truy cập vào tài khoản
                            Nhà X của bạn hoặc chuyển tài khoản của bạn cho bất kỳ ai khác (mà không được chúng tôi
                            cho phép).
                        </div>
                    </li>
                </ul>
                <div class="mvm uiP fsm"></div>
                Chúng tôi luôn cố gắng cung cấp Nhà X rộng rãi cho mọi người. Tuy nhiên, bạn sẽ không thể sử dụng
                Nhà X nếu:
                <ul class="uiList _4of _4kg"
                    style="list-style: disc; color: black; display: block; -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; -webkit-padding-start: 40px;">
                    <li>
                        <div class="fcb">Bạn chưa đủ 13 tuổi (hoặc độ tuổi hợp pháp tối thiểu tại quốc gia bạn để sử
                            dụng Sản phẩm của chúng tôi).
                        </div>
                    </li>
                    <li>
                        <div class="fcb">Bạn là tội phạm tình dục bị kết án.</div>
                    </li>
                    <li>
                        <div class="fcb">Trước đây, chúng tôi đã vô hiệu hóa tài khoản của bạn vì vi phạm các Điều khoản
                            hoặc Chính sách của chúng tôi.
                        </div>
                    </li>
                    <li>
                        <div class="fcb">Bạn bị cấm nhận các sản phẩm, dịch vụ hoặc phần mềm của chúng tôi theo luật
                            hiện hành.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_i">2. Những điều bạn có thể chia sẻ và thực hiện trên Nhà X</div>
                Chúng tôi muốn mọi người sử dụng Nhà X để thể hiện bản thân và chia sẻ nội dung quan trọng với họ,
                thế nhưng không phải với cái giá là sự an toàn và khỏe mạnh của người khác hay tính toàn vẹn của cộng
                đồng. Do đó, bạn đồng ý không tham gia những hành vi được mô tả dưới đây (hoặc tạo điều kiện hay hỗ trợ
                người khác thực hiện các hành vi đó):
                <ol>
                    <li>Bạn không được sử dụng Sản phẩm của chúng tôi để thực hiện hoặc chia sẻ bất cứ điều gì:
                    </li>
                    <li>Bạn không được tải vi-rút hoặc mã độc hại lên hay làm bất cứ điều gì có thể vô hiệu hóa, làm quá
                        tải hoặc ảnh hưởng đến hoạt động hay hình thức chuẩn xác của Sản phẩm của chúng tôi.
                        <div class="mvm uiP fsm"></div>
                    </li>
                    <li>Bạn không được truy cập hoặc thu thập dữ liệu từ Sản phẩm của chúng tôi bằng các phương tiện tự
                        động (khi chưa được chúng tôi cho phép trước) hay cố gắng truy cập dữ liệu mà bạn không được
                        phép truy cập.
                    </li>
                </ol>
                <div class="mvm uiP fsm"></div>
                Chúng tôi có thể gỡ hoặc hạn chế quyền truy cập vào nội dung vi phạm các quy định này.
                <div class="mvm uiP fsm"></div>
                <div class="mvm uiP fsm"></div>
            </div>
        </div>
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_j">3. Những quyền bạn cấp cho chúng tôi</div>
                Chúng tôi cần bạn cấp một số quyền để cung cấp dịch vụ: <br>
            </div>
        </div>
        <div class="_xpp">
            <div class="_xpq"></div>
            <div class="_xpr">
                <div class="_5s0w" id="u_0_k">4. Các giới hạn về việc sử dụng tài sản trí tuệ của chúng tôi</div>
                Nếu bạn sử dụng nội dung thuộc quyền sở hữu trí tuệ của chúng tôi và có trong Sản phẩm của chúng tôi (ví
                dụ: hình ảnh, thiết kế, video hoặc âm thanh mà chúng tôi cung cấp và bạn thêm vào nội dung mình tạo hoặc
                chia sẻ trên Nhà X), chúng tôi sẽ giữ lại tất cả các quyền đối với nội dung đó (nhưng không phải đối
                với nội dung của bạn). Bạn chỉ có thể sử dụng bản quyền hoặc
                của Nhà X hoặc khi được chúng tôi cho phép trước bằng văn bản. Bạn phải được chúng tôi cho phép bằng
                văn bản (hoặc cho phép theo giấy phép nguồn mở) để sửa đổi, tạo sản phẩm phái sinh, dịch ngược hoặc cố
                gắng theo cách khác để trích xuất mã nguồn của chúng tôi.
            </div>
        </div>
    </div>
</div>
