<div>
    <label>Tối đa</label>
    <input type="number" [(ngModel)]="limit" (ngModelChange)="$limitChange.emit($event)">
</div>
<div class="mb-10">
    <label style="width: 30px">Từ</label>
    <input kvKendoDateTimePicker
           [kvOptions]="dateOptions"
           [placeholder]="'Từ'"
           (kvModelChange)="onDateChange($event, true)"
           [(kvModel)]="filter.postTime"
           style="width: 200px"
    />
</div>
<div class="row mb-2">
    <div class="col-12">
        <kendo-chart [transitions]="false" [title]="chartTopGroupTitle" (seriesClick)="onChartItemClick($event)">
            <kendo-chart-series>
                <kendo-chart-series-item
                    type="column" [data]="groupData" [colorField]="'color'"
                    field="totalPost" categoryField="_id">
                    <kendo-chart-series-item-labels [content]="getLabelContent">
                    </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>
<label>Đánh dấu post đã comment</label>
<input type="checkbox" [disabled]="true" [(ngModel)]="markPostOnclick" [title]="'Đánh dấu nhóm đã comment'">
<div class="row">
    <div class="col-12">
        <kendo-chart [transitions]="false" [title]="chartTopPostTitle" (seriesClick)="onChartCommentItemClick($event)">
            <kendo-chart-series>
                <kendo-chart-series-item
                    type="column" [data]="postData" [colorField]="'color'"
                    field="commentCount" categoryField="id">
                    <kendo-chart-series-item-labels [content]="getLabelContentPost">
                    </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>
