<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [resizable]="true"
            [pageable]="true"
            style="height: 100%"
            (cellClick)="onItemSelect($event)"
            (pageChange)="pageChange($event)">
    <kendo-grid-column title="STT" width="60">
        <ng-template kendoGridCellTemplate let-dataItem, let-rowIndex="rowIndex">
            <div>{{rowIndex + 1}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="code" title="Mã hóa đơn">
    </kendo-grid-column>
    <kendo-grid-column field="room.house.name" title="Nhà">
    </kendo-grid-column>
    <kendo-grid-column field="room.name" title="Phòng">
    </kendo-grid-column>
    <kendo-grid-column title="Tổng tiền">
        <ng-template kendoGridCellTemplate let-dataItem>
            <label>{{kendo.toString(dataItem.total, 'n0')}}</label>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Ngày tạo">
        <ng-template kendoGridCellTemplate let-dataItem>
            <label>{{kendo.toString(dataItem.createdDate, 'dd/MM/yyyy HH:mm')}}</label>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
