<div>
    <div class="pl-3">
        <div>
            <label class="w-25">Nhà:</label>
            <kendo-dropdownlist [data]="listHouse" [(ngModel)]="room.house"
                                (valueChange)="onCustomerChange($event)" [textField]="'name'" [valueField]="'_id'">
            </kendo-dropdownlist>
        </div>
        <div>
            <label class="w-25">Phòng:</label><input [(ngModel)]="room.name">
        </div>
        <div>
            <label class="w-25">Khách hàng:</label>
            <kendo-dropdownlist [data]="listCustomer" [(ngModel)]="room.customer"
                                (valueChange)="onCustomerChange($event)" [textField]="'name'" [valueField]="'_id'">
            </kendo-dropdownlist>
        </div>
        <button class="btn btn-sm btn-success" (click)="addProduct()">Thêm khoản thu</button>
        <button class="btn btn-sm btn-primary" (click)="onPrint()">In hóa đơn</button>
        <button class="btn btn-sm btn-success" (click)="onSave()">Tạo hóa đơn</button>
        <kendo-grid [data]="gridView"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [resizable]="true"
                    [pageable]="true"
                    style="height: 100%"
                    (cellClick)="onItemSelect($event)"
                    (pageChange)="pageChange($event)">
            <kendo-grid-column title="STT" width="60">
                <ng-template kendoGridCellTemplate let-dataItem, let-rowIndex="rowIndex">
                    <div>{{rowIndex + 1}}</div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="name" title="Tên khoản thu">
            </kendo-grid-column>
            <kendo-grid-column field="unit" title="Đơn vị">
            </kendo-grid-column>
            <kendo-grid-column field="price" title="Giá">
            </kendo-grid-column>
            <kendo-grid-column title="Số lượng">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <input (ngModelChange)="recalculate(dataItem)" class="w-75" type="number" [value]="1" [(ngModel)]="dataItem.quantity">
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Tổng tiền">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <label>{{dataItem.totalPrice}}</label>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Ghi chú">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <textarea class="w-75" type="number" [(ngModel)]="dataItem.note"></textarea>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-success" (click)="onSaveRoom()">Save</button>
        <button class="btn btn-sm btn-dark" (click)="onCancel()">Cancel</button>
    </div>
</div>
