<kendo-grid [data]="gridView"
            [pageSize]="pageSize"
            [skip]="skip"
            [resizable]="true"
            [pageable]="true"
            style="height: 100%"
            (cellClick)="onItemSelect($event)"
            (pageChange)="pageChange($event)">
    <kendo-grid-column title="STT" width="60">
        <ng-template kendoGridCellTemplate let-dataItem, let-rowIndex="rowIndex">
            <div>{{rowIndex + 1}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Tên khoản thu">
    </kendo-grid-column>
    <kendo-grid-column field="unit" title="Đơn vị">
    </kendo-grid-column>
    <kendo-grid-column field="price" title="Giá">
    </kendo-grid-column>
</kendo-grid>
